a{
	text-decoration: none;
	color:green;
	font-size: 20px;
}

#reg{
	width: 90px;
	height: 25px;
	margin-left: 35%;
	float:left;
	color:#A50044;
	padding: 5px;
	border-radius:20px;
	border: 4px solid red;	
}

#reg:hover{
	background:red;
}

#prog{
	width: 90px;
	height: 25px;
	margin-left: 55%;

	color:#A50044;
	padding: 5px;
	border-radius:20px;
	border: 4px solid red;	
}

#prog:hover{
	background:red;
}


